
spring:
    config:
        import: optional:configserver:http://config-service:8889
    application:
        name: notification-service
user:
    service:
        url: http://user-service:8090



management:
    endpoints:
        web:
            exposure:
                include: "*"
